body {
  padding-bottom: 80px !important; /* Zajistí, že obsah se neposune pod footer */
  box-sizing: border-box;
}

.project-title {
  font-size: 1.3em;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

h1 {
  font-size: 1.7em;
  margin-top: 70px;
}

h2 {
  font-size: 1.5em;
}

img.flowchart {
  width: 100%;
  height: auto;
  max-width: 1200px;
  min-width: 200px;
  min-height: 150px;
}

td.missing-cell {
  background-color: #f2dede !important;
  color: #990000 !important;
  font-style: italic;
  font-weight: bold;
}

#panel-footer {
  font-size: 1em;
  position: fixed;
  padding: 8px 12px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f5f5f5;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
  opacity: 1.00;
  z-index: 1000;
}

#panel-footer .right-content {
  float: right;
}

#panel-footer img {
  max-height: 30px;
}


/* show toastr bellow top menu */
.toast {
  top: 60px !important;
}

/* statistic-methods dropdown menu is disabled by default */
.navbar-nav .dropdown [data-value="statistic-methods"] {
  pointer-events: none;
  opacity: 0.5;
}
