h1 {
  font-size: 1.4em;
  margin-top: 70px;
}

img.flowchart {
  width: 100%;
  height: auto;
  max-width: 1200px;
  min-width: 200px;
  min-height: 150px;
  margin-bottom: 50px;
}

.panel-footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
}
